
.{
  
}
cor laranja
.d{
  color: #fc6500
}
cor verde
{color: #00C441}
cor verde
{color: #16A7F2}
cor fundo cinza
{color: #ebebeb}
cor title cinza
{color: #9c9c9c}
bottom exit
{color: #f64a4a;}
.c{
  background-color: #fbff00;
}
color Icons 
{color: #c7c7c7;}

